/DataAccess/target/
/Harmony/Web/target/
/Harmony/DataAccess/target/
/Harmony/Harmony-Service/target/
/Harmony/Service/target/
/Harmony/Services/target/
/Harmony/Web/nbproject/private/
/Web/nbproject/private/
/Harmony/Harmony-Web/target/
/Harmony/Web/src/main/webapp/resources/files
